@import "tailwindcss";

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-family: Geist, system-ui, Arial, sans-serif;
}

section {
  scroll-margin-top: 74px; /* height of navbar */
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--bbg) inset !important;
  -webkit-text-fill-color: var(--bfg) !important;
  box-shadow: 0 0 0 1000px var(--bbg) inset !important;
}

@theme inline {
  --color-pbg: var(--pbg);
  --color-pfg: var(--pfg);
  --color-sbg: var(--sbg);
  --color-sfg: var(--sfg);
  --color-bbg: var(--bbg);
  --color-bfg: var(--bfg);
}

.dark {
  --pbg: #08090a;
  --pfg: #f7f8f8;
  --sbg: rgba(40, 40, 44, 100%);
  --sfg: #8a8f98;
  --bbg: #f7f8f8;
  --bfg: #08090a;
}
